@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h6 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
